/* ------------------------------ GENERAL ------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
    color: #737373;
    letter-spacing: .2px;
}

a {
    text-decoration: none;
}

.container {
    width: 108rem;
    padding: 0 2rem;
    margin: 0 auto;
    position: relative;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    text-align: center;
}

.header-secondary {
    margin-bottom: 1rem;
    font-size: 4rem;
    line-height: 5.7rem;
    color: #252B42;
}

.header-description {
    max-width: 85%;
    font-size: 1.4rem;
    line-height: 2rem;
}

.about-card-header .header-description {
    max-width: 100%;
}

.marg-r-small {
    margin-right: 1rem;
}

.flex-col-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ibg {
    position: relative;
}

.ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* ------------------------------ BUTTONS ------------------------------ */

.btn {
    border-radius: .5rem;
    padding: 1rem 3.6rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-align: center;
    min-width: fit-content;
}

.btn-primary {
    background-color: #FF7B47;
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #0D5C63;
    color: #FFFFFF;
}

.btn_outline-green {
    border: 1px solid #0D5C63;
    color: #0D5C63;
}

.btn_outline-green:hover {
    background-color: #0D5C63;
    border-color: #0D5C63;
    color: #FFFFFF;
}

.btn_outline-primary {
    border: 1px solid #FF7B47;
    background-color: transparent;
    box-sizing: border-box;
    color: #FF7B47;
}

.btn_outline-primary:hover {
    background-color: #0D5C63;
    border-color: #0D5C63;
    color: #FFFFFF;
}

.btn_round {
    border-radius: 3.7rem;
}

.btn-form {
    border-radius: 0;
    height: 5.8rem;
    border: none;
    border-left: 1px solid #E6E6E6;
}

.contact-card:nth-child(2) .btn_outline-primary {
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.contact-card:nth-child(2) .btn_outline-primary:hover {
    border-color: #0D5C63;
    color: #FFFFFF;
}

.play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.8rem;
    height: 9.8rem;
    background-color: #0D5C63;
    border-radius: 100%;
}

.play-button:hover {
    background-color: #FF7B47;
}

.play {
    width: 2.4rem;
    height: 2.88rem;
    background-color: #FFFFFF;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
}

/* -------------------- LINKS -------------------- */

.link {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #737373;
}

.link:hover {
    color: #252B42;
}

.link:not(:last-child) {
    margin-right: 2.1rem;
}

.footer-link {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}

.footer-link:hover {
    color: #737373;
}

/* -------------------- CARDS -------------------- */

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.card__icon--small {
    width: 4.8rem;
    height: 4.8rem;
}

.card__header--s {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: .1px;
}

.card__header--m {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding: 1.8rem 0;
}

.card__header--l {
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.7rem;
}

.card__text--m {
    font-size: 1.4rem;
    line-height: 2rem;
}

.card-primary {
    padding: 3.5rem 4rem;
    width: 32.8rem;
    min-height: 26rem;
    background-color: #FFFFFF;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
}

.card-primary .card__header--m {
    color: #252B42;
}

.card-primary:last-child {
    padding: 3.5rem 4rem;
    width: 32.8rem;
    height: 24.2rem;
    background-color: #0D5C63;
    color: #FFFFFF;
}

.card-primary:last-child .card__header--m {
    color: #FFFFFF;
}

.card-primary:last-child .card-primary__text {
    color: #FFFFFF;
}

.card-secondary {
    align-items: center;
    padding: 3rem;
    text-align: center;
    width: 23rem;
    height: 20.9rem;
    background-color: #FFFFFF;
    color: #252B42;
}

.card-tertiary {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 23.2rem;
}

.card-tertiary__header-container {
    padding: 3rem;
}

.card-tertiary__header {
    padding-bottom: 1.5rem;
    color: #252B42;
}

.card-tertiary__img {
    width: 100%;
}

.contact-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-card {
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    color: #252B42;
    padding: 5rem 4rem;
    width: 32.7rem;
    height: 33.3rem;
}

.contact-card:nth-child(2) {
    background-color: #252B42;
    color: #FFFFFF;
    padding: 8rem 4rem;
    width: 32.7rem;
    height: 39.3rem;
}

.contact-icon {
    width: 7.2rem;
    margin-bottom: 1.5rem;
}

.contacts {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
}

.card-contact {
    padding: .7rem 0;
}

.contact-card__header {
    padding: 1rem 0 2rem;
}

/* -------------------- HEADER -------------------- */

.navbar {
    display: flex;
    align-items: center;
    height: 10.4rem;
}

.navbar__logo {
    margin: 0 13.2rem 0 0;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: #252B42;
}

.menu {
    position: absolute;
    right: 0;
    top: 3rem;
    width: fit-content;
    height: fit-content;
}

.menu__icon {
    display: none;
    width: 4.8rem;
}

.menu__content {
    display: none;
}

.menu__content .link {
    margin: 0;
    font-size: 2.4rem;
    line-height: 3.2rem
}

.menu:hover {
    padding: 5rem 6rem;
    height: 30rem;
    z-index: 1;
    background-color: #FFFFFF;
}

.menu:hover .menu__icon {
    display: none;
}

.menu:hover .menu__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    position: relative;
    height: fit-content;
}

.header__main {
    height: fit-content;
    padding: 8rem 0 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-primary {
    font-weight: 800;
    font-size: 5.8rem;
    line-height: 8rem;
    color: #252B42;
}

.header__text {
    font-size: 2rem;
    line-height: 3rem;
    padding: 2rem 0;
}

.btn-header {
    margin: 1rem 2rem 1rem 0;
}
.btn-header:last-child {
    margin: 1rem 0;
}

.header__buttons {
    display: flex;
    flex-wrap: wrap;
}

.bg-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.bg-img {
    z-index: -1;
    object-fit: cover;
}

/* -------------------- CARDS -------------------- */

.card-container {
    transform: translateY(-40%);
}

/* -------------------- FEATURES -------------------- */

/* -------------------- ADVICES -------------------- */

.advices {
    padding: 8rem 0;
}

.padding-top {
    padding-top: 5rem;
}

/* -------------------- ABOUT -------------------- */

.about {
    background-color: #FFFFFF;
    padding: 10rem 0;
}

.about-header {
    margin-bottom: 10rem;
}

.about-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60rem;
    height: 44.2rem;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, .14),
            rgba(56, 56, 56, 0.84)),
    url("./img/about_cover.jpg");
    background-size: cover;
    background-position: top;
}

.about-card {
    width: 33.3rem;
    display: flex;
    flex-direction: column;
}

.about-item {
    display: flex;
    width: 100%;
    margin-top: 2rem;
}

.item-icon {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 3rem;
}

.item-description {
    width: fit-content;
}

.item-header {
    margin-bottom: .5rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: .1px;
    color: #252B42;
}

.item-description {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: .2px;
}

/* -------------------- CLIENTS -------------------- */

.clients {
    position: relative;
}

.brands {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
    flex-wrap: wrap;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 3.2rem;
    padding: 3rem 5rem;
    background-color: #17213C;
    border-radius: 2px;
}

.subscribe-header {
    max-width: 26.6rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: .1px;
    color: #FFFFFF;
}

.subscribe-form {
    border: 1px solid #E6E6E6;
    border-radius: .5rem;
    width: fit-content;
    height: 6rem;
    background-color: #F9F9F9;
    overflow: hidden;
}

.form-input {
    display: inline-block;
    width: 33.3rem;
    height: 5.8rem;
    background-color: #F9F9F9;
    font-size: 1.4rem;
    line-height: 2.8rem;
    border: none;
    padding: 1.5rem 2rem;
}

.bottom {
    position: absolute;
    height: 77px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -2rem;
    z-index: -1;
    background: #252B42;
}

/* -------------------- CONTACT -------------------- */

.contact {
    margin: 10rem 0 8rem;
}

.contact-header {
    margin-bottom: 8rem;
}

/* -------------------- FOOTER -------------------- */

.footer {
    background-color: #FFFFFF;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
    align-items: center;
}

.footer-header {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: .1px;
    color: #252B42;
    padding-bottom: .5rem;
}

.footer-description {
    font-size: 1.4rem;
    line-height: 2rem;
}

.footer-links-container {
    background-color: #17213C;
    color: #FFFFFF;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5rem 1.5rem;
}

.footer-links-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
    margin: 2rem;
}

.footer-links-header {
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.footer-link {
    padding: .4rem 0;
}

.link-with-icon {
    display: flex;
    align-items: center;
}

.footer-link-icon {
    padding-right: 1rem;
}

.footer-text {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: .1px;
}

.footer-icons {
    display: flex;
    align-items: center;
}

.footer-icon {
    width: 2.4rem;
}

.footer-icon:not(:last-child) {
    margin-right: 1.3rem;
}
